<mat-card>
    <h1>Classify Model</h1>
    <form #classifyForm="ngForm" (ngSubmit)="ClassonSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="To classify"
                [(ngModel)] = "text"
                required 
                name = "text">
            
        </mat-form-field>                   
        <div >
            <button mat-raised-button color="primary" [disabled]="!classifyForm.form.valid">Classify</button>
        </div>
      </div>
    </form>
    </mat-card>